---
import { Icon } from "astro-icon";
const { color = "white", icon = "circle-filled" } = Astro.props;

let textColor;
let backgroundColor;

if (color == "white") {
    textColor = "text-white";
    backgroundColor = "bg-black";
} else {
    textColor = `text-${color}-600`;
    backgroundColor = `bg-${color}-100`;
}

// Tailwind tree shaker
("bg-sky-100 bg-purple-100 bg-red-100 bg-black");
("text-sky-600 text-purple-600 text-red-600 text-black");
---

<li class="relative">
    <span
        class={`absolute -left-8 top-1 mt-0 h-6 w-6 rounded-full inline-flex items-center justify-center ${backgroundColor}`}>
        <Icon name={icon} class={`inline-block w-4 h-4 ${textColor}`} />
    </span>
    <slot />
</li>
