---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

import tailwindImage from "assets/tailwind-css.png";

const { name, by, image, description, homepage, github, license } = Astro.props;
---

<div
    class="no-prose p-8 mb-8 rounded-md border-solid border-[#D8DEE9] border-opacity-50 border-2 px-4 py-2">
    {
        image && (
            <Picture
                src={image}
                alt={name}
                class="rounded-md mt-2"
                widths={[200, 400, 600]}
                aspectRatio="16:9"
            />
        )
    }
    <div>
        <span class="flex justify-left gap-2 relative"
            ><b>{name}</b>
            <span class="relative -top-0.5 text-slate-900">
                <a href={homepage} class="no-underline text-slate-900">
                    <Icon name="home-link" class="inline h-4 w-4" />
                </a>
                <a href={github} class="no-underline text-slate-900">
                    <Icon name="brand-github-filled-2" class="inline h-4 w-4" />
                </a>
            </span></span
        >
        <p class="my-1 text-black">{description}</p>
        <div class="text-slate-600 flex justify-between">
            <span class="text-slate-600">
                <span class="text-slate-600 relative mr-2"
                    ><Icon
                        name="copyright"
                        class="relative -top-0.5 inline h-4 w-4"
                    />
                    {by}</span
                >
                <span class="text-slate-600 relative">
                    <Icon
                        name="scale"
                        class="relative -top-0.5 inline h-4 w-4"
                    />
                </span>
                {license}
            </span>
        </div>
    </div>
</div>
