---
import Tag from "@components/named-tag.astro"
import { Icon } from "astro-icon";

const { attrs } = Astro.props;
const { name, role, email, url, linkedin, skills } = attrs;
const emailHref = `mailto:${email}?cc=itn@minesparis.psl.eu&subject=[ITN]`;
const image = `${import.meta.env.BASE_URL}portraits/${name}.webp`;
const linkedinHref = linkedin && `https://www.linkedin.com/in/${linkedin}/`;

const map = {
  "à":"a","á":"a","â":"a","ã":"a","ä":"a","å":"a",
  "ò":"o","ó":"o","ô":"o","õ":"o","ö":"o","ø":"o",
  "è":"e","é":"e","ê":"e","ë":"e",
  "ç":"c",
  "ì":"i","í":"i","î":"i","ï":"i",
  "ù":"u","ú":"u","û":"u","ü":"u",
  "ÿ":"y",
  "ñ":"n"}; 
 
function noAccent(text) {
	const pattern = /[àáäâèéêëçìíîïòóôõöøùúûüÿñ]/gi; 
	const output = text.replace(pattern, (match) => map[match.toLowerCase()]).toLowerCase();
  return output;
}

const id = noAccent(name).replace(/\W/g, "-")



---

<div class="flex gap-6" id={id}>
  <img
    src={image}
    alt={name}
    width=168
    height=168
    loading="eager"
    class="rounded inline-block"
    style="width:168px;height:168px;"
  /> 
  <div>
    <div class="mb-[4px]">
      <div class="font-semibold text-2xl text-slate-900 relative">
        <span class="mr-4">{name}</span>
        <a href={emailHref}>
          <span class="hover:text-blue-600 transition-colors">
            <Icon
              class="w-4 h-4 inline relative"
              name="tabler:mail"
            />
          </span>
        </a>
        { url && <a href={url}>
          <span class="hover:text-blue-600 transition-colors">
            <Icon
              class="w-4 h-4 inline relative"
              name="tabler:id"
            />
          </span>
        </a>}
        { linkedinHref && <a href={linkedinHref}>
          <span class="hover:text-blue-600 transition-colors">
            <Icon
              class="w-4 h-4 inline relative"
              name="tabler:brand-linkedin"
            />
          </span>
        </a>}
      </div>
      <div>
        <span 
          class="font-normal text-lg text-slate-500 mr-4" 
          style="text-wrap: balance;">
          {role}
        </span>
      </div>
    </div>
    <div class="flex flex-wrap gap-2 mt-[16px]">
      {(skills["Ingénierie Numérique"] || []).map((skill) => <span class="flex-none"><Tag type="Ingénierie Numérique">{skill}</Tag></span>)}
      {(skills["Industries Créatives"] || []).map((skill) => <span class="flex-none"><Tag type="Industries Créatives">{skill}</Tag></span>)}
      {(skills["Santé Numérique"] || []).map((skill) => <span class="flex-none"><Tag type="Santé Numérique">{skill}</Tag></span>)}
      {(skills["Autres"] || []).map((skill) => <span class="flex-none"><Tag type="Autres">{skill}</Tag></span>)}

    </div>
  </div>
</div>
