---
import { SEO } from "astro-seo";

import Container from "@components/container.astro";
import SectionHead from "@components/sectionhead.astro";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import Sectionhead from "@components/sectionhead.astro";

interface Props {
  title?: string;
  description?: string;
  no_header?: boolean;
  image?: string;
  type?: "website" | "article";
}

let url = Astro.url.href;
if (url.endsWith("/")) {
  url = url.slice(0, -1);
}

let { title, no_header = false, description, image, type } = Astro.props;

const base = import.meta.env.BASE_URL;
const path = Astro.url.pathname;

const default_title = "Institut des Transformations Numériques";
let heading = title ? title : default_title;
title = heading;
if (title != default_title) {
  title = title + " | ITN";
}

description = description
  ? description
  : "Sciences et technologies du numérique à Mines Paris – PSL";

image = image ? image : "/opengraph.jpg";
console.log("path:", Astro.url.pathname);
if (!image.startsWith("http://") && !image.startsWith("https://")) {
  // external resource
  if (image.startsWith("/")) {
    // absolute path
    image = image.slice(1);
    image = new URL(`${base}${image}`, Astro.site).toString();
  } else {
    // relative path
    image = new URL(`${path}/${image}`, Astro.site).toString();
  }
}
console.log("image:", `${image}`);

type = type ? type : "website";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- <base href={base} /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      canonical={url}
      openGraph={{
        basic: { title, type, url, image },
        optional: { description },
      }}
      twitter={{
        title,
        description,
        image: image,
        creator: "@ITN_MinesParis",
        site: "@ITN_MinesParis",
        card: "summary_large_image",
      }}
    />
  </head><body>
    <Navbar />
    <Container>
      {
        !no_header ? (
          <Sectionhead>
            <Fragment slot="title">{heading}</Fragment>
            <Fragment slot="desc">{description}</Fragment>
          </Sectionhead>
        ) : undefined
      }
      <slot />
    </Container>
    <Footer />
    <style is:global>
      html {
        hyphens: auto;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
